body {
   background-image: url(../images/cool-background.png);
    background-color: blue;
   }
/*.card-title {
  font-family: serif;
  color: #59AAA5;
  font-weight: bold;
}*/

h1 {
    margin: 50px 0 0 50px;
    height: 120px;
    width: 120px;
    padding: 10px
    /*background-image: url("http://javascriptbook.com/code/c01/images/constructive-logo.gif")*/;
    background-repeat: no-repeat;
    background-color: blue !important
    text-indent: -9999px;
    border-top: 1px solid #bcbdc0;
    border-left: 1px solid #bcbdc0;
    border-right: 1px solid #bcbdc0;}

  section {
    margin: 50px 0 0 50px;
    height: 120px;
    width: 120px;
    padding: 10px
    /*background-image: url("http://javascriptbook.com/code/c01/images/constructive-logo.gif")*/;
    background-repeat: no-repeat;
    background-color: blue !important
    text-indent: -9999px;
    border-top: 1px solid #bcbdc0;
    border-left: 1px solid #bcbdc0;
    border-right: 1px solid #bcbdc0;}

  }

.media-object {
  width: 100%;
}

.media {
  border-top: 2px solid #ccc;
  padding-top: 20px;
}
/*.navbar-expand .navbar-nav .nav-link{
  cursor: pointer !important;
}*/

.crystal-image {
  width: 20%;
  padding: 5px;
}

